<div class="container">
    <h1 id="404-text">404 - Page Not Found...</h1>
    <img id="clueless" src="/images/clueless-aware.gif">
</div>
<a href="/home" class="btn btn-success pull-right">Return Home</a>  