<div class="row">
    <section class="main col-lg-4">
        <div class="container">
            <h1>Welcome!</h1>
            <p>This is a template for a home page</p>
            <p>Information here will include a showcase of the contents of the site</p>
        </div>
    </section>
    <aside class="col-lg-8" >
        <div>
            <img class="card-img-top image-fluid" src="images/git_home.png">
        </div>
    </aside>
</div>